@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
}


/* ----- LOGIN ----- */

.bg-coverlogin {
    background-image: url('/images/background/bglogin.png');
    display: flex;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    margin-left: 40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.label-login {
    font-size: 15px;
    font-weight: 300;
    color: #737373;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 0px solid #ccc;
    border-radius: 10px;
    font-size:15px;
    font-weight: 300;
    color: #666666;
}

input::placeholder {
    font-size: 13px;
    font-weight: 400;
    color: #cccccc;
}

.login-button {
    height: 40px;
    background-color: #D10100;
    color: #E5E5E5;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 700;
}

.forgot-password-link {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 35px;
    text-decoration: underline;
    color: #808080;
    font-size: 13px;
    font-weight: 100;
}

.dont-have {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #808080;
    font-size: 13px;
    font-weight: 100;
}

.registration-link {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
    color: #808080;
    font-size: 13px;
    font-weight: 100;
}

.registration-link:hover,
.forgot-password-link:hover {
    font-weight: 400;
}



/* ----- REGISTER ----- */

.bg-coverregis {
    background-image: url('/images/background/bglogin.png');
    display: flex;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

.registration-container {
    width: 600px;
    /* margin: 0 auto; */
    margin-left: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.reg-container {
    display: flex;
    justify-content: center;
}

.reg-left {
    width: 48%;
    box-sizing: border-box;
}

.reg-rightside {
    width: 48%;
    box-sizing: border-box;
}

.column-left,
.column-right {
    width: 48%;
    box-sizing: border-box;
}

.label-daftar {
    text-align: center;
    color: #333;
}

.input-container-register p {
    margin: 0;
    margin-bottom: 3px;
    margin-right: 10px;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.input-container-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reg-left {
    margin-right: 10px;
}


.input-field-register,
.select-field-register,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.select-field-register {
    color: #555;
}

.regis-button {
    background-color: #D10100;
    color: #E5E5E5;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 700;
}

.agreement-text {
    margin-top: 20px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    font-weight:500;
}

.alr-have {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #808080;
    font-size: 13px;
    font-weight: 100;
}

.login-link {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
    color: #808080;
    font-size: 13px;
    font-weight: 100;
}

.login-link:hover {
    font-weight: 400;
}

.alert{
    display: flex;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #fff;
    background-color: #d34053;
}

@media (max-width: 900px) {
    .bg-coverlogin {
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        min-width: auto;
        justify-content: center;
        align-items: center;
    }

    .reg-left{
        width: 100%;
    }

    .login-container,
    .registration-container {
        width: 80%;
        margin-left: 0;
    }

    .registration-container {
        margin-top: 30px;
    }

    .label-login,
    .label-daftar {
        font-size: 14px;
        /* Adjust font size for labels */
    }

    .input-container-register{
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;
    }

    .input-container-register p {
        margin-right: 0;
        /* Adjust the spacing between label and input */
        font-size: 14px;
        width: 100%;

    }

    .input-field,
    .input-field-register,
    .select-field-register,
    textarea {
        font-size: 14px;
        /* Adjust font size for input fields */
    }

    .forgot-password-link,
    .dont-have,
    .registration-link,
    .agreement-text {
        font-size: 12px;
        /* Adjust font size for links and texts */
    }

    .reg-container{
        gap: 10px;
        flex-direction: column;
    }
}
