@import url('fonts.css');

body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
}


/* ----- LOGIN ----- */

.bg-coverlogin {
    background-image: url('/images/background/bglogin.png');
    display: flex;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

.main-container-login {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.img-sby-login {
    width: 50%;
    max-width: 500px;
    height: auto;
}

.login-container {
    width: 400px;
    /* margin-left: 35%; */
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    color: #4c4c4c;
}

.label-login {
    font-size: 15px;
    font-weight: medium;
    color: #737373;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    font-size:15px;
    color: #4c4c4c;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

input::placeholder {
    font-size: 12px;
    font-weight: medium;
    color: #bfbfbf;
}

.login-button {
    height: 40px;
    background-color: #D10100;
    color: #f2f2f2;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.login-button:hover {
    opacity: 85%;
}

.forgot-password-link {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 35px;
    text-decoration: underline;
    color: #808080;
    font-size: 13px;
    font-weight: medium;
}

.dont-have {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #808080;
    font-size: 13px;
    font-weight: medium;
}

.registration-link {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
    color: #808080;
    font-size: 13px;
    font-weight: medium;
}

.registration-link:hover,
.forgot-password-link:hover {
    font-weight: 500;
}



/* ----- REGISTER ----- */

.bg-coverregis {
    background-image: url('/images/background/bglogin.png');
    display: flex;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

.main-container-regis {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.img-sby-regis {
    width: 50%;
    max-width: 500px;
    height: auto;
}

.registration-container {
    width: 550px;
    background-color: #fff;
    padding: 0px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg-container {
    display: flex;
    justify-content: center;
}

.reg-left {
    width: 45%;
    box-sizing: border-box;
}

.reg-rightside {
    width: 45%;
    box-sizing: border-box;
}

.column-left,
.column-right {
    width: 45%;
    box-sizing: border-box;
}

.regis-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
    color: #4c4c4c;
}

.input-container-register p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: medium;
    color: #737373;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.input-container-register {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.reg-left {
    margin-right: 20px;
}


.input-field-register,
.select-field-register,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 13px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    font-size:15px;
    color: #4c4c4c;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.select-field-register {
    color: #4c4c4c;
    font-weight: medium;
}

.regis-button {
    background-color: #D10100;
    color: #f2f2f2;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.regis-button:hover {
    opacity: 85%;
}

.input-field-register::placeholder {
    font-size: 12px;
    font-weight: medium;
    color: #bfbfbf;
}

.agreement-text {
    margin-top: 20px;
    font-size: 10px;
    color: #666666;
    text-align: center;
    font-weight:500;
}

.alr-have {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #808080;
    font-size: 13px;
    font-weight: medium;
}

.login-link {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
    color: #808080;
    font-size: 13px;
    font-weight: medium;
}

.login-link:hover {
    font-weight: 500;
}

.alert{
    display: flex;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #fff;
    background-color: #d34053;
}

@media (max-width: 900px) {
    .main-container-login{
        flex-direction: column;
        gap: 1px;
    }

    .main-container-regis{
        flex-direction: column;
        gap: 1px;
    }

    .login-container {
        width: 80%;
        margin-left: 0;
        box-shadow: none;
    }

    .img-sby-login{
        width: 100%;
    }

    .bg-coverlogin {
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        min-width: auto;
        justify-content: center;
        align-items: center;
    }

    .reg-left{
        width: 100%;
    }

    .login-container,
    .registration-container {
        width: 80%;
        margin-left: 0;
    }

    .registration-container {
        margin-top: 30px;
    }

    .label-login,
    .label-daftar {
        font-size: 14px;
        /* Adjust font size for labels */
    }

    .input-container-register{
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;
    }

    .input-container-register p {
        margin-right: 0;
        /* Adjust the spacing between label and input */
        font-size: 14px;
        width: 100%;

    }

    .input-field,
    .input-field-register,
    .select-field-register,
    textarea {
        font-size: 14px;
        /* Adjust font size for input fields */
    }

    .forgot-password-link,
    .dont-have,
    .registration-link,
    .agreement-text {
        font-size: 12px;
        /* Adjust font size for links and texts */
    }

    .reg-container{
        gap: 10px;
        flex-direction: column;
    }
}



/* -------- ERROR -------- */

.bg-covererror {
    background-image: url('/images/background/bglogin.png');
    display: flex;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}
